APPNAME=Voting API
APPVERSION=1.0.0
APPPORT=8080
APPENV=development

DBHOST=localhost
DBPORT=15432
DBUSER=postgres
DBPASSWORD=postgres
DBNAME=voting_db
DBSSLMODE=disable

DB_SPL_HOST=10.0.0.15
DB_SPL_PORT=5432
DB_SPL_NAME=spl
DB_SPL_USER=postgres
DB_SPL_PASSWORD=senha

KEYCLOAK_ISSUER=http://localhost:8081/realms/voting-realm
JWKSURL=http://localhost:8081/realms/voting-realm/protocol/openid-connect/certs

PUBLIC_KEY=PUBLIC_KEY_BETHA
USER_ACCESS=USER_ACCESS_BETHA
CPF=CPF_CONSULTA_BETHA