APPNAME=Voting API
APPVERSION=1.0.0
APPPORT=8080
APPENV=development

DBHOST=localhost
DBPORT=15432
DBUSER=postgres
DBPASSWORD=postgres
DBNAME=voting_db
DBSSLMODE=disable

KEYCLOAK_ISSUER=http://localhost:8081/realms/voting-realm
JWKSURL=http://localhost:8081/realms/voting-realm/protocol/openid-connect/certs