SSH_HOST=
SSH_USER=
SSH_KEY=

APPNAME=Voting API
APPVERSION=1.0.0
APPPORT=8080
APPENV=staging

DBHOST=db
DBUSER=
DBPASSWORD=
DBNAME=voting_db
DBPORT=5432
DBSSLMODE=disable

ALLOW_ORIGINS=

KEYCLOAK_ISSUER=
JWKSURL=

API_IMAGE=
ADMIN_IMAGE=
VEREADOR_IMAGE=

VITE_API_URL=
VITE_KEYCLOAK_URL=
VITE_KEYCLOAK_REALM=
VITE_KEYCLOAK_CLIENT_ID=

